{% for bd in bridge_domains %}
{% if bd.routing_instance is defined %}
{% if bd.vlan_id is defined %}
set routing-instances {{ bd.routing_instance }} bridge-domains {{ bd.name }} vlan-id {{ bd.vlan_id }}
set routing-instances {{ bd.routing_instance }} bridge-domains {{ bd.name }} domain-type bridge
{% endif %}
{% if bd.vlan_id_list is defined %}
set routing-instances {{ bd.routing_instance }} bridge-domains {{ bd.name }} vlan-id-list {{ bd.vlan_id_list }}
{% endif %}
{% else %}
{% if bd.vlan_id is defined %}
set bridge-domains {{ bd.name }} vlan-id {{ bd.vlan_id }}
set bridge-domains {{ bd.name }} domain-type bridge
{% endif %}
{% if bd.vlan_id_list is defined %}
set bridge-domains {{ bd.name }} vlan-id-list {{ bd.vlan_id_list }}
{% endif %}
{% endif %}
{% for int in bd.interfaces %}
set interfaces {{ int.name }} family bridge interface-mode {{ int.mode }} 
set interfaces {{ int.name }} family bridge vlan-id-list {{ int.vlan_id_list }}
{% endfor %}
{% endfor %}
